*{
    margin: 0px;
    padding: 0px;
}

.cuerpo{
    display: grid;
    grid-template-areas: "carrusel tab BotonesJS";
}
.carrusel{
    grid-area: carrusel;
    padding: 5px;
    border-radius: 5px;
    background-color: aquamarine;
    width: 150px;
    margin: 15px;

}
.tab{
    grid-area: tab;
    padding: 5px;
    background-color: rgb(170, 223, 26);
    width: 150px;
    border-radius: 5px;
    margin: 15px;
}
.BotonesJS{
    grid-area: BotonesJS;
    padding: 5px;
    background-color: rgb(39, 240, 83);
    width: 150px;
    border-radius: 5px;
    margin: 15px;
}
.c2{
    margin-left: 60px;
}